#title {
  text-align: center; /* Centraliza o título */
  font-size: 3rem; /* Tamanho maior para o título */
  color: rgb(0, 0, 139); /* Cor verde para destacar */
  font-family: "Arial", sans-serif; /* Fonte limpa e moderna */
  margin-top: 20px; /* Espaço acima do título */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para dar um efeito 3D */
  letter-spacing: 1px; /* Espaçamento entre as letras */
}
body {
    font-family: "Arial", sans-serif;
    background-color: #0d1b2a;
    color: #e0e1dd;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1b263b;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  .story-link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #778da9;
    color: #e0e1dd;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .story-link:hover {
    background-color: #415a77;
  }
  
  .story-link:active {
    background-color: #1b263b;
  }
  
